extends template
block content
  h1.text-center=category.name
    small  #{category.desc}
  form(action='/categories/#{category._id}?_method=DELETE', method='POST')
    input.btn.btn-default.btn-dbl(type='submit', value='Delete Category')
    a.btn.btn-default.btn-dbl(href='/categories/#{category._id}/edit') Edit Category
  h4 Notes:
  if category.notes != ''
    ul.list-unstyled
      for note in category.notes
        li: a(href='/notes/#{note._id}')=note.title
  else
    p This category contains no notes
