extends template
block content
  - var item = note || {title: '', text: '', category: {_id: ''}}
  - var noteid = note ? '/' + note._id : ''
  - var override = note ? '?_method=PUT' : ''
  if note
    h1.text-center Edit Note
  else
    h1.text-center New Note
  form(method='POST', action='/notes#{noteid}#{override}')
    .form-group
      label.sr-only(for='title') Title
      .input-group
        .input-group-addon &nbsp;&nbsp;&nbsp;&nbsp;Title&nbsp;&nbsp;&nbsp;&nbsp;
        input#title.form-control(type='text', name='title', value='#{item.title}')
    .form-group
      label.sr-only(for='text') Text
      .input-group
        .input-group-addon &nbsp;&nbsp;&nbsp;&nbsp;Text&nbsp;&nbsp;&nbsp;&nbsp;
        textarea#text.form-control(name='text' placeholder='To create a checklist, start each line with a -')=item.text
    .form-group
      label.sr-only(for='cat') Category
      .input-group
        .input-group-addon Category
        select#cat.form-control(name='category')
          for cat in categories
            if item.category && item.category._id != '' && item.category._id.equals(cat._id)
              option(value=cat._id selected)=cat.name
            else
              option(value=cat._id)=cat.name
    .form-group
      input.btn.btn-default.btn-dbl(type='submit', value='Save Note')
      a.btn.btn-default.btn-dbl(href='/notes#{noteid}') Cancel
