extends template
block content
  - var category = note.category || {_id: '', name: 'None'}
  h1.text-center=note.title
  hr
  if note.text[0] === '-'
    - var text = note.text.replace(/-/g, '')
    - var list = text.split('\n')
    ul.list-unstyled
      for line in list
        li
          input.checkbox(type='checkbox')
          span.checkline=line
  else
    p=note.text
  hr
  p.text-center
    strong Category: 
    a(href='/categories/#{category._id}')=category.name
  form(action='/notes/#{note._id}?_method=DELETE', method='POST')
    input.btn.btn-default.btn-dbl(type='submit', value='Delete Note')
    a.btn.btn-default.btn-dbl(href='/notes/#{note._id}/edit') Edit Note
